/* GLOBAL STYLES */

html {
    background: darkslategrey;
}

body {
    font-family: 'Lato', sans-serif;
}

/* HEADER */
  
header {
    height: 100px;
  margin-bottom: 35px;
}

nav {
  width: 960px;
    margin: 0 auto;
}

nav img {
    margin-top: 15px;
    margin-right: 10px;
    float: left;
}

header h1 {
    display: block;
    margin-top: 15px;
    margin-right: 300px;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    font-style: italic;
    font-size: 45pt;
    color: white;
    float: left;
}

nav li {
    display: inline-block; 
    margin-top: 45px;
    margin-right: 10px;
    font-size: 16pt;
}

a {
    color: lightgrey;
    text-decoration: none;
}

a:hover {
    color: orange;
}

/* MAIN */

main {
    width: 960px;
    margin: 0px auto;
}

main img {
    max-width: 250px;
    max-height: 250px;
}

main li {
  list-style: none;  
  margin: 30px 30px 30px 30px;
    float: left;
    border-radius: 5px;
    border: 4px solid orangered;
}

p {
    float: left;
    color: white;
    font-size: 14pt;
    line-height: 24px;
    margin: 0px 20px 0px 20px;
}

footer {
  height: 80px;
  margin-top: 25px;
  background: rgb(115, 126, 138);
}